body {
    font-family: 'Gruppo', sans-serif;
    background-color: #C1E6FF;
    font-weight: bold;
    padding: 25px;
}

.body-index {
    background: #eef2ff;
}

.body-ucla {
    background: #ffeceb;
}

.body-stanford {
    background: #e3ffe9;
}

.body-ucsb {
    background: #fff8e6;
}

.body-utah {
    background: #f2e6ff;
}

header {
    display: block;
    width: 1100px;
    height: 200px;
    background-color: #003366;
}

h1, h2 {
    text-align: center;
    color: #003366;
    font-size: 45px;
    font-weight: bold;
    font-family: 'Cabin Sketch', sans-serif;
}
p {
    font-weight: bold;
    font-size: 20px;
    text-indent: 40px;
}

hr {
    border: none;
    height: 2px;
    background-color: white;
}

nav  {
    text-decoration: none;
    color: white;
    background-color: #204397;
    text-align: center;
}

table {
    background-color: white;
    border-collapse: separate;
    border-spacing: 2px;
}

table img {
    width: 150px;
    height: 200px;
}

table img:hover {
    transform: scale(1.5);
}